div > .App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;  
  /* background-color: black;
  color: #fff; */
}

div > .App > #container {
  width: 200px;
  height: 200px;
  background-color: blue;
}